[Unit]
Description=Smart People Counting Edge Service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/Smart-People-Counting-Pi-IoT/backend
ExecStart=/home/pi/Smart-People-Counting-Pi-IoT/backend/venv/bin/python main.py
Restart=always
RestartSec=5
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target